*{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body{
  background-color: #f7cac9;
}

div{
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

#container{
  margin: 20px auto;
  max-width: 330px;
}

#greet{
  text-align: center;
}

#greet-message,.scores{
  font-size: 25px;
  font-weight: bold;
  font-style: italic;
  color: #034f84;
}

#end-of-game{
  width: 330px;
  height: 330px;
  position: absolute;
  text-align: center;
  z-index: 10;
  display: none;
}

#end-of-game-text{
  line-height: 330px;
  font-size: 50px;
  font-weight: bold;
  color: #034f84;
}

.row{
  padding: 0;
  display: flex;
  margin: 0 auto;
}

.blur{
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -ms-filter: blur(3px);
  -o-filter: blur(3px);
  filter: blur(3px);
}

.game-block{
  height: 100px;
  width: 100px;
  margin: 5px 5px 5px 5px;
  display: inline-block;
  border:none;
  border-radius: 10px;
  background-color: #f7786b;
  box-shadow: 10px 10px 5px #888888;
}

.game-block:hover{
  cursor: pointer;
}

.game-block:focus{
  outline: none;
}

.game-block:active{
  outline: none;
  box-shadow: 6px 6px 5px #888888;
  transform: translateY(4px);
  transform: translateX(4px);
}

.block-value{
  font-size: 70px;
  font-weight: bold;
  color: white;
  text-align: center;
  margin: auto;
}

#score{
  text-align: center;
}

p{
  margin: 0;
}